* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  // set font-size to 10px
  // 1rem = 10px
  font-size: 62.5%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.at-the-end {
  -ms-flex-pack:end!important;
  justify-content:flex-end!important
}

@media screen and (max-width: 1279px) {
    .background-body {
      background: url('gold.jpg');
      max-height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-background-size: auto;
      -moz-background-size: cover;
      -o-background-size: cover;
    }
}  

@media screen and (min-width: 1280px) {
  .background-body {
      background: url('gold.jpg');
      max-height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
  }
}

section {
  position: relative;
  top: 70px;
}