* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  // set font-size to 10px
  // 1rem = 10px
  font-size: 62.5%;
}

.background-body {
    background: url('gold.jpg');
}

section {
  position: relative;
  top: 70px;
}