.u-margin-bottom-bg {
  margin-bottom: 8rem;
}

.u-margin-bottom-md {
  margin-bottom: 4rem;
}

.u-margin-bottom-sm {
  margin-bottom: 2rem;
}

.u-margin-top-bg {
  margin-top: 8rem;
}

.u-margin-top-md {
  margin-top: 4rem;
}

.u-margin-top-sm {
  margin-top: 2rem;
}

.u-margin-horizontal-auto {
  margin-left: auto;
  margin-right: auto;
}

.u-padding-bottom-bg {
  padding-bottom: 8rem;
}

.u-padding-bottom-md {
  padding-bottom: 4rem;
}

.u-padding-bottom-sm {
  padding-bottom: 2rem;
}

.u-padding-top-bg {
  padding-top: 8rem;
}

.u-padding-top-md {
  padding-top: 4rem;
}

.u-padding-top-sm {
  padding-top: 2rem;
}

.content {
  padding: 3rem;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.at-the-end {
  -ms-flex-pack:end!important;
  justify-content:flex-end!important
}

.u-text-center {
  text-align: center;
}

.u-text-justify {
  text-align: justify;
}

.u-text-bold {
  font-weight: bold;
}