.header {
  background: $nav-background-color;
  text-align: center;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999;
}

@media screen and (min-width: 800px) {
  .header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
  }
}
