@media screen and (max-width: 79rem) {
  .background-body {
    background: url("gold.jpg");
    max-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: auto;
    -moz-background-size: cover;
    -o-background-size: cover; } }

@media screen and (min-width: 80rem) {
  .background-body {
    background: url("gold.jpg");
    max-height: 100%;
    background-repeat: no-repeat;
    background-size: cover; } }

section {
  position: relative;
  top: 7rem; }

.logo {
  height: 4rem;
  padding: 1.5rem 3rem;
  position: relative;
  top: 0.5rem;
  font-size: 3.6rem;
  color: #444;
  line-height: 4rem;
  font-family: "Courgette", cursive;
  grid-column: 3 / 4;
  display: inline; }

@media screen and (min-width: 80rem) {
  .logo {
    grid-column: 2; } }

nav {
  color: #fff;
  height: 100%;
  line-height: 70px;
  display: block; }

nav a {
  color: #fff; }

nav a:hover {
  color: #000000; }

nav ul {
  margin: 0;
  list-style-type: none; }

nav ul li {
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  float: left;
  padding: 0; }

nav ul li.active {
  background-color: rgba(0, 0, 0, 0.1); }

nav ul a {
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  font-size: 1.2rem;
  color: #fff;
  display: block;
  padding: 0 25px;
  cursor: pointer; }

nav ul li a {
  text-decoration: none; }
